.body {
  box-sizing: border-box;
}

.App {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.grid {
  max-height: 90vh;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "display display display display"
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zeros zeros decimal equals";
  background-color: black;
}

.display {
  grid-area: display;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  color: white;
  padding-bottom: 1em;
  padding-right: 1em;
}

.button {
  font-weight: 500;
  font-size: 1.5em;
  padding: 1.75rem 3rem;
  background: grey;
}

.zero {
  grid-area: zeros;
}

.clear {
  grid-area: clear;
}

.equals {
  grid-area: equals;
}

@media screen and (max-width: 950px) {
  .App {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
}

@media screen and (max-width: 700px) {
  .App {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
}
